<div *ngIf="opcion == 0">
    <div>
        <h1>Almacenamiento de datos usando Arbol B+ y archivos con Spring Boot y Angular</h1>
    </div>

    <div>
        <button (click)="opcion = 1; limpiarDatos()">Añadir Cliente</button>
        <button (click)="opcion = 2; limpiarDatos(); listClientes()">Listar todos los Clientes</button>
        <button (click)="opcion = 3; limpiarDatos()">Buscar un cliente</button>
        <button (click)="opcion = 4; limpiarDatos()">Modificar un cliente</button>
        <button (click)="opcion = 5; limpiarDatos()">Eliminar un cliente</button>
    </div>
</div>

<div *ngIf="opcion == 1" >
    <div>
        <h2>Añadir nuevo cliente</h2>
    </div>
    
    <div>
        <div><input type="text" name="nombres" id="" placeholder="Nombres" [(ngModel)]="datos.nombre"></div>
        <div><input type="text" name="apellidos" id="" placeholder="Apellidos" [(ngModel)]="datos.apellidos"></div>
        <div><input type="number" name="cedula" id="" placeholder="Cedula" [(ngModel)]="datos.cedula"></div>
        <div><input type="text" name="direccion" id="" placeholder="Direccion" [(ngModel)]="datos.direccion"></div>
        <div><input type="number" name="edad" id="" placeholder="Edad" [(ngModel)]="datos.edad"></div>
        <button (click)="addCliente(); opcion = 1">Guardar</button>
    </div>

    <button (click)="opcion = 0">Regresar</button>
</div>

<div *ngIf="opcion == 2">
    <div>
        <h2>Listado de todos los clientes</h2>
    </div>

    <button (click)="opcion = 0">Regresar</button>
</div>

<div *ngIf="opcion == 3">
    <div>
        <h2>Buscar un cliente</h2>
    </div>
    <div>
        <input type="number" name="cedulabuscar" id="" [(ngModel)]="auxCedula" placeholder="Cedula" >
        <button (click)="searchCliente(); opcion = 3">Buscar</button>
    </div>
   <button (click)="opcion = 0">Regresar</button>
</div>

<div *ngIf="opcion == 4">
    <div>
        <h2>Actualizar datos de un cliente</h2>
    </div>
    <div>
        <input type="number" name="cedulaEditar" id="" [(ngModel)]="auxCedula" placeholder="Cedula">
    </div>
    <div>
        <div><input type="text" name="nombres" id="" placeholder="Nombres" [(ngModel)]="datos.nombre"></div>
        <div><input type="text" name="apellidos" id="" placeholder="Apellidos" [(ngModel)]="datos.apellidos"></div>
        <div><input type="number" name="cedula" id="" placeholder="Cedula" [(ngModel)]="datos.cedula"></div>
        <div><input type="text" name="direccion" id="" placeholder="Direccion" [(ngModel)]="datos.direccion"></div>
        <div><input type="number" name="edad" id="" placeholder="Edad" [(ngModel)]="datos.edad"></div>
        <button (click)="updateCliente(); opcion = 4">Actualizar</button>
    </div>

    <button (click)="opcion = 0">Regresar</button>
</div>

<div *ngIf="opcion == 5">
    <div>
        <h2>Eliminar un cliente</h2>
    </div>
    <div>
        <input type="number" name="cedulaEliminar" id="" [(ngModel)]="auxCedula" placeholder="Cedula" >
        <button (click)="deleteCliente(); opcion = 5">Buscar</button>
    </div>

    <button (click)="opcion = 0; ">Regresar</button>
</div>